
#l1{
  padding: 20px;
  float: left;
  font-size: xx-large;

  
}
body{
  margin: 10px;
}


#l2{
  padding:20px;
  float: right;
  display: block;
  overflow: hidden;
  color: rgb(13, 11, 11);
  font-family:Georgia, 'Times New Roman', Times, serif;
}
#logo
{
  height: 80px;
  background-color: blue;
}

#pic{
  height: 600px;
  width: 100%;
}
#head1
{
  text-align: center;
}
#l3
{
  margin: 10px;
  width: 700px;
  float: left;
}
#l4{
  float: right;
 
}
#pic2
{
  margin-right: 300px;
  height: 240px;
  width: 300px;
 
  border-radius: 10px;
}
#div2{
  margin: 10px;
  height: 230px;
  width:100%;
  
}
#head2
{
  text-align: center;
}
#pic3{
  margin-left: 100px;
  float: left;
  height: 250px;
  width: 300px;
  padding: 20px;
}
#div3
{
  height: 300px;
  width: 100%;
  margin: 10px;
}
#head3{
  text-align: right;
  text-decoration: underline;
  padding-right: 20px;
}
#div4{
  margin: 10px;
  height: 750px;
  width: 100%;
  background-color: burlywood;
}
/* #div5
{
  margin: 100px;
} */
#head4{
  padding-top: 20px;
  text-align: center;
}
#pic4{
  margin-left: 542px;
  float: left;
  height: 250px;
  width: 300px;
  padding: 20px;
}
#div6
{
  margin: 10px;
  height: 300px;
  width: 100%;
}
#name{
  margin-left: 200px;
  margin-right: 10px;
  font-size: 20px;
}
#div7{

  margin: 20px;
  height: 60px;
  width: 100%;
}
button{
  margin-left: 50%;

}
#buttons{
   
}
#submit{
  display: block;
  float: right;
  margin-right: 50%;
}